/*default classes*/
body {
  background-color: #f3f3f3;
}
/*font*/
@font-face {
  font-family: "BYekan";
  src: url("./Yekan.eot");
  src: local("bYekan"), local("b Yekan"),
    url("./Yekan.eot?#iefix") format("embedded-opentype"),
    url("./Yekan.woff") format("woff"), url("./Yekan.ttf") format("truetype"),
    url("./Yekan.svg#BYekan") format("svg");
  font-style: normal;
  font-weight: normal;
}
.p-font {
  font-family: "BYekan";
  font-size: 1rem;
}
.h1-font {
  font-family: "BYekan";
  font-size: 2rem;
}
.h2-font {
  font-family: "BYekan";
  font-size: 1.3rem;
  text-align: right;
  color: #fff;
}
.h3-font {
  font-family: "BYekan";
  font-size: 1.2rem;
}
/*img*/
.big-image {
  object-fit: cover;
  width: 74%;
  height: 200px;
  margin: auto;
}
.mid-image {
  object-fit: cover;
  width: 49%;
  height: 200px;
  margin: auto;
}
.small-image {
  object-fit: cover;
  width: 24%;
  height: 200px;
  margin: auto;
}
.article-image {
  object-fit: cover;
  width: 50%%;
  height: 220px;
}
.card-image {
  object-fit: cover;
  width: 100%;
  height: 200px;
  margin: auto;
}
.icon-image {
  object-fit: cover;
  width: 100px;
  height: 100px;
}
.small-icon-image {
  object-fit: cover;
  width: 30px;
  height: 30px;
}
.square-banner {
  width: 90%;
  margin: 20px;
}
/*color*/
.p-color {
  background-color: #0f94e9;
  color: #fff;
}
.s-color {
  background-color: #212121;
  color: #fff;
}
.t-color {
  background-color: #fff;
  color: #212121;
}
/*sections*/
.navbar {
  display: flex;
  flex-direction: row-reverse;
  background-color: #0f94e9;
  width: 100%;
}
.banner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2%;
}
.fullwidth-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.footer-div {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  align-items: center;
  background-color: #000;
  margin: auto;
}
.article-div {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.body-div {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  margin: auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
  border-radius: 7px;
  background-color: #fff;
}
.midwidth-div {
  display: flex;
  flex-direction: row;
  width: 75%;
}
.smallwidth-div {
  display: flex;
  flex-direction: row;
  width: 25%;
}
.fullwidth-div-horiz {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.fullwidth-div-horiz-with-background {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url("./bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.slide-div-horiz {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #fff;
}
.slide-div-horiz-with-background {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  background-image: url("./bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
}
.slide-div-horiz-with-green-background {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  background-color: #559d35;
  margin: auto;
}
.fullwidth-div-horiz-with-black-background {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
/* rows */
.fullwidth-row {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.slider-title-row {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: solid 0px 2px;
  border-style: solid;
  border-width: 0px 0px 1px;
  margin-bottom: 20px;
}
.slider-row {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.midwidth-row {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
  align-items: end;
}
.content-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: end;
  border-style: solid;
  border-width: 0.5px 0px;
  border-color: rgba(0, 0, 0, 0.12);
}
.smallwidth-row {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: auto;
  justify-content: center;
  align-items: center;
}
.sidebar-row {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin: auto;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.12);
}
.fullwidth-row-with-background {
  display: flex;
  flex-direction: row-reverse;
  align-items: right;
  justify-content: right;
  width: 100%;
  margin: auto;
  height: 30vh;
  background-image: url("./bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.midwidth-row-with-background {
  display: flex;
  flex-direction: row-reverse;
  align-items: right;
  justify-content: right;
  width: 66.4%;
  margin: auto;
  height: 30vh;
  background-image: url("./bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.smallwidth-row-with-background {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: right;
  width: 33%;
  margin: auto;
  height: 30vh;
  background-image: url("./bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
/*buttons*/
.button {
  border: none;
}
.button {
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}
/* modules */
.h-row {
  display: flex;
  flex-direction: row-reverse;
  width: 80%;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.12);
  margin: 5px;
  align-items: center;
  padding: 2px 10px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.12);
  margin: 20px 60px;
  background-color: #fff;
}
.article-card {
  background-color: #219ff0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  width: 50%;
  color: #fff;
}
.article-card-reverse {
  background-color: #219ff0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  color: #fff;
}
/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.dropdown .dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .button {
  background-color: #219ff0;
}
